
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
:root{
    --backgroundBody:#E3E3E3;
    --titles: #FF4F6F;
    --white: #FFFFFF;
    --blue:#34B0BE;
    --black:#2e2d2b;
    --gras: #ADADAD;
}
*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
.text{
    color: var(--titles);
    margin-left: 2rem;
    margin-bottom: 1.25rem;
    padding-top: 1rem;
}
header{
    position: relative;
}
nav{
    display: flex;
    justify-content: end;
    height: 60px;
    
    width: 100%;
}
ul{
    display: flex;
    align-items: center;
    margin-right: 2.5rem;    
}
li{
    list-style: none;
    margin-right: 1rem;
    padding: 2px;
}

li a{
    text-decoration: none;
    color: var(--black);
    font-size: .9rem;
}
.square {
    position: absolute;
    
    height: 14%;
    width: 14%;
    left: 5%;
    top:2%;
}
.square img{
    width: 100%;
}
.content{
    display:flex;
    margin-top: 1rem;
   
}
.photo{
    
    width: 50%;
    
}
.photo img{
    width: 95%;
}
.presentation{
    padding-top: .75rem;
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.presentation h2{
    color: var(--titles);
    word-spacing: 2.5px;
    font-size: 2rem;
}
.presentation h1{
    
    font-size:  2.50rem; 
    margin: .7rem  0;
}
.bx{
    font-size: 2.25rem;
    background-color:var(--white);
    color: var(--blue);
    padding: .75rem;
    border: 1px solid var(--blue);
    border-radius: 50%;
    margin-right: 3px;
}
.line{
    width: 90%;
    border: 1px solid var(--gras);
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}
.whatsapp{
    background-color: var(--titles);
    color: var(--white);
    font-size: 1.25rem;
    width: 60%;
    border-radius: 0 25px 25px 0;
    display: flex;
    justify-content: center;
}
.whatsapp p{
    display: flex;
    align-items: center;
}
.whatsapp .bx{
    color: var(--white);
    font-size: 2rem;
    background-color: var(--titles);
    border: none;
}  
.about-me{
    height: 100vh;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    background-image: url(../images/Group\ 84.svg);
    background-size: 35% 35%;
    background-repeat: no-repeat;
    background-position: right top;
}
.about-me h2{
    color: var(--titles);
} 
.about-me p{
    width: 65%;
    margin-left: 2rem;
    color: var(--gras);
}
.college{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: .75rem;
    margin-top: 1.5rem;
} 
.academlo{
    text-align: center;
    width: 20%;
    height: 60%;
    
} 
.academlo img{
    width: 100%;
    height: 100%;
    
}
.unam{
    width: 18%;
    height: 60%;
    text-align: center;
}
.unam img{
    width: 100%;
    height: 100%;
    
} 
.unam p{
    
    
}
.skills-section{
    
}
.content-skills{
    display: grid;
    grid-template-columns: 25% 25%;
    gap: 2rem;
    justify-content: center;
}
.skill {
    text-align: center;
}
.skill i{
    padding: 1.75rem;
}
footer{
    text-align: center;
    font-size: medium;
    padding: 2rem ;
   
}
@media only screen and (min-width:320px){
    .presentation h2{
        font-size: .75rem;
    }
    .presentation h1{
        font-size: 1.20rem;
    }
    .whatsapp {
        font-size: .75rem;
        width: 65%;
    }
    .whatsapp .bx{
        font-size: .75rem;
        padding: .25rem;
    }
    .social-icons i{
        
        font-size: .75rem;
        
        padding: .50rem;
       
        margin-right: 3px;
    }
    .line{
        margin-bottom: .5rem;
    }

}
@media only screen and (min-width:420px){
    .presentation h2{
        font-size: 1.1rem;
    }
    .presentation h1{
        font-size: 1.75rem;
    }
    .whatsapp {
        font-size: .75rem;
        width: 65%;
    }
    .whatsapp .bx{
        font-size: 1rem;
        padding: .25rem;
    }
    .social-icons i{
        
        font-size: 1rem;
        
        padding: .75rem;
       
        margin-right: 3px;
    }
    .line{
        margin-bottom: .5rem;
    }

}

@media only screen and (min-width: 500px){
    .presentation h2{
        font-size: 1.5rem;
    }
    .presentation h1{
        font-size: 2rem;
    }
    .whatsapp {
        font-size: .85rem;
        width: 65%;
    }
    .whatsapp .bx{
        font-size: 1.2rem;
        padding: .25rem;
    }
    .social-icons i{
        
        font-size: 1.2rem;
        
        padding: .75rem;
       
        margin-right: 3px;
    }
    .line{
        margin-bottom: .5rem;
    }
}
@media only screen and (min-width: 668px){
    .presentation h2{
        font-size: 2rem;
    }
    .presentation h1{
        font-size: 2.5rem;
    }
    .social-icons i{
        
        font-size: 2.1rem;
        
        padding: .65rem;
        
        
        margin-right: 3px;
    }
    .whatsapp {
        font-size: 1.5rem;
        width: 60%;
    }
    .whatsapp .bx{
        font-size: 2rem;
        padding: .25rem;
    }
    .line{
        margin-bottom: 1rem;
    }
}



@media only screen and (min-width: 768px){
    .presentation h2{
        font-size: 2.75rem;
    }
    .presentation h1{
        font-size: 3.25rem;
    }
    .social-icons i{
        
            font-size: 2.25rem;
            
            padding: .75rem;
           
            margin-right: 8px;
    }
    .line{
        margin-bottom: 1.25rem;
    }
    .content{
        margin-top: 1.5rem;
       
    }

}
@media only screen and (min-width: 992px){
    .presentation h2{
        font-size: 3.75rem;
    }
    .presentation h1{
        font-size: 4.25rem;
    }
    .presentation{
        justify-content: space-evenly;
    }
    .social-icons i{
        padding: 1rem;
    }
}
/*
@media only screen and (min-width:320px){
    .presentation h2{
        font-size: 1rem;
    }
    .presentation h1{
        font-size: 1.25rem;
    }
    .social-icons i{
        padding: .5rem;
        font-size: 1rem;
    }
    .whatsapp {
        font-size: .6rem;
        width: 70%;
    }
    .whatsapp .bx{
        font-size: 1rem;
        padding: .25rem;
    }
}
*/