
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
:root{
    --backgroundBody:#E3E3E3;
    --titles: #FF4F6F;
    --white: #FFFFFF;
    --blue:#34B0BE;
    --black:#2e2d2b;
    --gras: #8f8989;
}
*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    max-width: 90%;
    margin:0 auto;
}
.text{
    color: var(--titles);
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    padding-top: 1rem;
}
header{
    position: relative;
    display: flex;
    flex-direction: column; 
}
nav{
    display: flex;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
}
ul{
    display: flex;
    position: relative;
    align-items:flex-end; 
    left: calc(90% - 460px); 
}
li{
    list-style: none;
    margin-right: 1rem;
    padding: 2px;
}

li a{
    text-decoration: none;
    color: var(--black);
    font-size: .9rem;
    cursor: pointer;
}

.menu .bx-menu{
    margin-right: 1.8rem;
    margin-top: .75rem;
    border-radius: 0%;
    border: none;
    display: none;
    
}
.bx-menu{
    padding: 1px;
   
    
}
.square {
    position: absolute;
    height: 14%;
    width: 20%;
    left: 1%;
    top:2%;
    z-index: 100;
}
.square img{
    width: 100%;
    height: 100%;
}
.content{
    position: relative;
    top: 60px;
    display:grid;
    grid-template-columns: 100%;
    margin-top: 1.2rem;
}
/*.photo{
    
  
   display: flex;
   justify-content: center;
}
*/
.photo{
    
    /* width: 50%; */
    text-align: center; 
 }
 .photo img{
     width: 48%;
    
     border-radius: 50%;
     
 }
.presentation{
    padding-top: .75rem;
    /*width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.presentation h2{
    color: var(--titles);
    word-spacing: 2.5px;
    font-size: 1.85rem;
}
.presentation h1{
    
    font-size:  2.25rem; 
    margin: .7rem  0;
}
.social-icons a{
    cursor: pointer;
}
.bx{
    font-size: 2.25rem;
    background-color:var(--white);
    color: var(--blue);
    padding: .8rem;
    border: 1px solid var(--blue);
    border-radius: 50%;
    
}
.line{
    width: 90%;
    border: 1px solid var(--gras);
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}
.whatsapp{
    background-color: var(--titles);
    color: var(--white);
    font-size: 1.25rem;
    width: 50%;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 1rem;
}
.whatsapp a{
    text-decoration: none;
    color: #FFFFFF;
}
.whatsapp p{
    display: flex;
    align-items: center;
}
.whatsapp .bx{
    color: var(--white);
    font-size: 2rem;
    background-color: var(--titles);
    border: none;
}  
.about-me{
    display: flex;
    flex-direction: column;
    background-image: url(../images/Group\ 84.svg);
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: right top;
    font-size: .9rem;
    margin-top: 2rem;
}
.about-me h2{
    color: var(--titles);
} 
.about-me p{
    width: 70%;
    margin-left: 2rem;
    color: var(--gras);
}
.college{
    display: grid;
    grid-template-columns: 35% 35%;
    column-gap: 2rem;
    justify-content: center;
    align-items: baseline;
    font-size: .75rem;
    margin-top: 1.5rem;
} 
.academlo{
  text-align: center;   
} 
.academlo img{
    width: 90%;   
}
.unam{
    text-align: center;
}
.unam img{
    width: 90%;    
} 
.unam p, .academlo p{
    margin: 0;
    padding: 0;
    font-size: .8rem;   
}
.content-skills{
    display: grid;
    grid-template-columns: 25% 25%;
    gap: 2rem;
    justify-content: center;
}
.skill {
    text-align: center;
}
.skill i{
    padding: 1.75rem;
}
.content-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
}
.card-project{
    display: flex;
    flex-direction: column;
    width: 85%;
    border: 1px solid rgb(238, 232, 232);
    box-shadow: 0px 10px 20px 5px rgba(182, 178, 178, 0.5);
    border-radius: 15px;
    
}
.content-img{
    width: 100%;
}
.content-img img{
    width: 100%;
}
h4{
    padding: .75rem 0;
    margin-left: .75rem;
    
}
.git-content i{
    cursor: pointer;
    padding: .6rem;
    margin-left: .5rem;
    margin-bottom: .5rem  ;
}
.contact{
    margin-top: 1 rem;
}

.myContac{
    display: grid;
    grid-template-columns: 42% 42%;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem 0 3rem  0;
}


.cardContac{
  text-align: center; 
}
.cardContac > p{
    font-size: small;
    
}

.cardContac > img{
    background-color: white;
    padding: .8rem;
    border-radius: 50%;
    margin-bottom: .5rem;
    border: solid 1px var(--blue);
}
footer{
    text-align: center;
    font-size: large;
    margin-top: 1rem;
    padding: 2rem ;
   
}

@media only screen and (min-width:320px){
    .whatsapp {
        font-size: 1rem;
        width: 60%;
    }
    .whatsapp .bx{
        font-size: 1rem;
        padding: .5rem;
    }
    .social-icons i{
        
        font-size: .9rem;
        
        padding: .70rem;
       
        margin-right: 8px;
    }
    .line{
        margin-bottom: .5rem;
        width: 60%;
    }
    

}
@media only screen and (min-width:420px){
    .photo img{
        width: 55%;
    }
    .presentation h2{
        font-size: 2.1rem;
    }
    .presentation h1{
        font-size: 2.75rem;
    }
   
    .whatsapp {
        font-size: 1.1rem;
        width: 50%;
        padding: .4rem;
    }
    .whatsapp .bx{
        font-size: 1.1rem;
        padding: .25rem;
        margin-right: .2rem;
    }
    .social-icons i{
        
        font-size: 1.2rem;
        
        padding: .95rem;
       
        margin-right: 3px;
    }
    .line{
        margin-bottom: .5rem;
        width: 50%;
    }
    .college{
        grid-template-columns: 27% 27%;
        column-gap: 3rem;
    }
   

}

@media only screen and (min-width: 500px){
    .photo img{
        width: 45%;
    }
    .whatsapp {
        font-size: 1.1rem;
        width: 45%;
    }
    .whatsapp .bx{
        font-size: 1.1rem;
        padding: .5rem;
    }
    .social-icons i{
        
        font-size: 1.2rem;
        
        padding: .75rem;
       
        margin-right: 3px;
    }
    .line{
        margin-bottom: .75rem;
        width: 45%;
    }
    .college{
        grid-template-columns: 25% 25%;
        column-gap: 3rem;
    }
    .text{
        
        font-size: 1.75rem;
        
    }
    .presentation h2{
        font-size: 2.3rem;
    }
    .presentation h1{
        font-size: 2.85rem;
    }
   
}
@media (max-width:500px){
    .cardContac small{
        font-size: x-small;
    }
    .menu .bx-menu {
        margin-right: 1rem;
        
    } 
}
@media (max-width:668px){
        .presentation h1{
            text-align: center;
        }
        .about-me p{
            width: 80%;
            font-size: 1rem;
            line-height: 1.4rem ;
        }
        .academlo .unam{
            text-align: center;
        }
        .academlo p, .unam p{
            font-size: .9rem;
            margin: 0;
            padding: 0;
        }
        .skill i{
            padding: 1.1rem;
        }

}
@media only screen and (min-width: 668px){
    .content{
        grid-template-columns: 50% 50%;
    }
    .photo{
        text-align: left;
    }
    .photo img{
        width: 95%;
    }
    .presentation{
        align-items: flex-start;
    }
    .presentation h2{
        font-size: 2rem;
    }
    .presentation h1{
        font-size: 2.5rem;
    }
    .social-icons i{
        
        font-size: 2.1rem;
        
        padding: .65rem;
        
        
        margin-right: 3px;
    }
    .whatsapp {
        font-size: 1.25rem;
        width: 62%;
        border-radius: 0 25px 25px 0;
    }
    .whatsapp .bx{
        font-size: 2rem;
        padding: .25rem;
    }
    .line{
        margin-bottom: 1rem;
        width: 60%;
    }
    .about-me p{
        font-size: 1rem;
        width: 75%;
        line-height: 1.5rem;
    }
    .college{
        grid-template-columns: 20% 20%;
        column-gap: 4rem;
    }
}
/*====================Medias queries==========================*/
/*Menú hamburguesa*/
@media (max-width:768px){
    nav{
        left: 0%;
        justify-content: end;
        
    }
    .menu .bx-menu{
        display: block;
        
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        background-color:rgb(245, 245, 245);
        position: fixed;
        top:60px;
        width: 100%;
        margin: 0px;
        padding-top: 1rem;
        align-items:center;
        justify-content: space-around;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
        
    }
    li{
        margin: 0;
    }
    li a{
        font-size: large;
        color: var(--blue);
    }
    .nav-menu_visible{
        left: 0;
    }
}
/*-------------------------------------------------------------*/


@media only screen and (min-width: 768px){
    .presentation h2{
        font-size: 2.5rem;
    }
    .presentation h1{
        font-size: 3rem;
    }
    .social-icons i{
        
            font-size: 2.25rem;
            
            padding: .75rem;
           
            margin-right: 8px;
    }
    .line{
        margin-bottom: 1.25rem;
    }
    .content{
        margin-top: 1.5rem;
       
    }
    .college{
        grid-template-columns: 18% 18%;
        column-gap: 4.75rem;
    }
    

}
@media only screen and (min-width: 992px){
    .photo img{
        width: 87%;
    }
    .presentation h2{
        font-size: 3.5rem;
    }
    .presentation h1{
        font-size: 3.75rem;
    }
    .presentation{
        justify-content: space-evenly;
    }
    .social-icons i{
        padding: 1rem;
    }
    .college{
        grid-template-columns: 15% 15%;
        column-gap: 5rem;
    }
    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-projects{
        width: 80%;
        text-align: center;   
    }
    
}
/*
@media only screen and (min-width:320px){
    .presentation h2{
        font-size: 1rem;
    }
    .presentation h1{
        font-size: 1.25rem;
    }
    .social-icons i{
        padding: .5rem;
        font-size: 1rem;
    }
    .whatsapp {
        font-size: .6rem;
        width: 70%;
    }
    .whatsapp .bx{
        font-size: 1rem;
        padding: .25rem;
    }
}
*/